.faq {
    &__title {
        font-size: 40px;
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__wrapper {
        width: 650px;
    }

    &__item {
        width: 100%;
        padding: 15px;
        background-color: #EEEEEE;
        margin-bottom: 3px;
        position: relative;
        overflow: hidden;

        .faq__subitem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            h3 {
                font-size: 16px;
            }

            img {
                width: 14px;
                display: inline-block;
                transition: .3s;
                font-size: 40px;
            }
        }

        .faq__content {
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transform: translateY(-20px);
            transition: max-height 0.5s ease, opacity 0.2s ease, transform 0.5s ease;

            p {
                margin: 0;
            }
        }

        &.show .faq__content {
            max-height: 200px;
            opacity: 1;
            transform: translateY(0); 
        }

        
        &.show img {
            transform: rotate(45deg);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
